* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    width:  100%;
}

div#nav-up-wrap,div#nav-down-wrap {
    width:  100%;
    /* background-color:  white; */
    height:  55px;
}
div#shortcut-menu{
   width: 15%;
   float: left;
   font-size: 40px;
   padding: 5px;
   color: #eeaa9c;
   display: none;
   text-align: center;
}
div#nav-down-wrap {
    background-color: #aece89;
}

div#nav-up-wrap {
    background-color:  white;
}
/* BODY */
div#nav-down-wrap.testScroll {
    position: fixed;
    top: 0;
    z-index: 20;
    /* height: 45px; */
    width: 100%;
    /* background-color: #aece89c9; */
    transition: 0.2s;
}
body {
    background-color: white;
}
.clear2 {
    clear: both;
    width: 50%;
    border-bottom: 1px solid #e9ebee;
    margin: auto;
}
.clear {
    clear: both;
}
div.wrap {
    max-width: 1140px;
    margin: auto;
    font-family: 'Trirong', serif;
    
}
a {
    cursor: pointer;
    text-decoration: none;
}
img {
    width: 100%;
}
img#img-logo {
    width: 100%;
    height: 100%;
}


i.fa.fa-phone {
    font-size: 25px;
    color: white;
    
}

i.fa.fa-phone.menu-phone {
    color: #eeaa9c;
    margin-right: 10px;
}
/* HEADER */
#sale-1,#sale-2,aside {
    padding: 0 15px;
}
/* NAV 1  */

div#logo {
    width: 14%;
    font-size: 30px;
    font-family: 'Emilys Candy', cursive;
    float: left;
    /* padding: 13px 0px 0px 15px; */
}

div#logo a {
    display: block;
    width: 100%;
}
span.text-logo {
    color: white;
}
div#menu-search {
    width: 43%;
    float: left;
    max-width: 500px;
    padding: 10px 10px 10px 30px;
    position: relative;
}
input:focus {
    outline: none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #eeaa9c;
    font-size: 20px;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: #eeaa9c;
    font-size: 20px;
  }
 input:-ms-input-placeholder { /* IE 10+ */
    color: #eeaa9c;
    font-size: 20px;
  }
 input:-moz-placeholder { /* Firefox 18- */
    color: #eeaa9c;
    font-size: 20px;
  }
    i.fa.fa-search {
        position: absolute;
        top: 50%;
        right: 4%;
        font-size: 20px;
        color: #eeaa9c;
        transform: translateY(-50%);
        cursor: pointer;
    }
div#menu-phone {
    width: 28%;
    float: left;
    padding: 15px 0px 10px 0px;
    text-align: center;
}
#menu-phone span {
    color: #eeaa9c;
    font-size: 22px;
    letter-spacing: 1px;
}

div#menu-cart {
    width: 15%;
    float: left;
    padding: 15px 0px 0px 0px;
    text-align:  center;
}

div#menu-cart a sub {
    color: #d02552;
    /* font-weight:  bold; */
    font-size: 20px;
}
    span.menu-cart {
        color: #eeaa9c;
        font-size: 22px;
        margin-left: 3%;
        letter-spacing: 1px;
    }
div#nav-up,nav#nav-down {
    padding: 0 15px;
    max-width: 1140px;
    margin:  auto;
    height: 100%;
    /* background-color: #aece89; */
}

div#nav-up {
    background-color:  white;
}
div#nav-up div,#nav-down div {
    height: 100%;
}


/* NAV 2 */
#home,ul#list-main,.list-item {
    float: left;
    display: block;
    font-size: 24px;
    color: #232a34;
}

div#home {
    padding: 10px 0 0 0px;
    width: 10%;
    text-align: center;
    background-color: #98b27b;
}
i.fa.fa-home {
    color: #232a34;
    font-size: 30px;
}
input#ipt-search {
    border: 1px solid #eeaa9c;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    color: #eeaa9c;
}
i.fa.fa-shopping-cart {
    font-size: 25px;
    color: white;
}

i.fa.fa-shopping-cart.menu-cart {
    color: #eeaa9c;
}

li.list-item.li-flower-special {
    width: 20%;
}
li.list-item.li-wedding {
    width: 12%;
}

li.list-item.li-flower,li.list-item.li-topic {
    width: 15%;
}

li.list-item.li-birthday {
    width: 18%;
}

.level-1:hover {
    background-color: #ee9c9c;
}
.a-level-1 {
    color: #232a34;
}
.menu-level-2 a {
    color: white;
}

ul#list-main {
    margin: 0;
    width: 90%;
    padding: 0px;
    text-align: center;
    height: 100%;
    text-transform: uppercase;
}
li.level-2 {
    position: relative;
    -webkit-transition: 0.4s duration timing-function delay;
    -moz-transition: 0.4s duration timing-function delay;
    transition: 0.4s duration timing-function delay;
}

    ul > li {
        list-style-type: none;
        display: block;
    }

.li-list-level-2 {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.li-list-level-2:hover {
    background-color: #98b27b;
}
.list-item:hover .menu-level-2{
    display: block;
    background-color: #aece89;
    color: rgb(255, 0, 0);
    z-index: 99999999;
}

li.list-item {
    font-size: 20px;
    cursor: pointer;
    padding: 15px 0 0 0;
    height: 100%;
    transition: 0.4s;
    letter-spacing: 1px;
}

li.list-item.li-require.level-1 {
    width: 20%;
}

ul.menu-lever-2 li {
    padding: 5px;
}
.level-2:hover {
    background-color: rgba(238,156,156,1.00);
    /* color: #aece89; */
}
/* .level-2:hover .menu-level-2 {
    display:  block;
    background-color: #aece89;
    color: rgb(255, 0, 0);
    z-index: 99999999;
} */

ul#list-occasions, ul#list-flowers, ul#list-special {
    width: 100%;
    /* transition: all 1s; */
}

ul.menu-level-2 {
    position: absolute;
    top: 100%;
    left: 0px;
    display: none;
    transition: 0.4s;
}
ul.menu-level-2.show-menu-level-2{
    display:  block;
    background-color: #aece89;
    color: rgb(255, 0, 0);
    z-index: 99999999;
}

.menu-lever-2 {
    position: absolute;
    /* width: 150px; */
    top: 55px;
    left: 0px;
    display: none;
    z-index: 2;
    background-color: #aece89;
    transition: 0.4s;
}

ul#list-specials {width: 100%;}    


/* FOOTERRRRRRRRRRRRRRRRRRRRR */

div#footer-up {
    padding: 30px;
}

div.footer-col{
    width: 33.333333333%;
    float: left;
    position: relative;
    /* background-color: rebeccapurple; */
    height: 100%;
}

.footer-col.middle {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
a.footer-up-icon{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #aece89;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 24px;
    transition: 0.4s;
}

a.footer-up-icon:hover {
    background-color: #98b27b;
}
a.footer-up-icon i.footer-up-icon{

color: #ffffff;

font-size: 50px;
}
p.footer-up-title{
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #232a34;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}
p.footer-up-content{
    text-align: center;
    font-size: 16px;
    color: #232a34;
    padding: 30px 20px 50px 20px;
    letter-spacing: 1px;
}

.social-icon {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    overflow: auto;
}


a.a-social-icon {
    display: inline-block;
    /* float: left; */
}

i.fa.fa-linkedin-square.social {
    color:  #4267b2;
}

i.fa.fa-twitter-square.social {
    color: #4267b2;
}

i.fa.fa-facebook-square.social {
    color: #4267b2;
}

i.fa.fa-youtube-square.social {
    color: #dc453a;
}

i.fa.fa-envelope-o.social {
    color: #dc453a;
}

.social {
    margin-right: 20px;
    font-size: 35px;
}


footer  {
    width: 100%;
}
div#footer-up {
    padding: 0px 15px;
    max-width: 1110px;
    margin:  auto;
    /* overflow: auto; */
    margin-top:  100px;
    background-color: #aece892e;
}

div#footer-up-wrap {
    width: 100%;
    background-color:  white;
    overflow:  auto;
}

div#footer-down-wrap {
    background-color:  #aece89;
    width: 100%;
    overflow:  auto;
}

div#footer-down {
    text-align:  center;
    padding: 15px 0;
    color: #232a34;
    font-size: 20px;
    letter-spacing: 1px;
}
.left a,.footer-phone {
    color: #aece89;
}

i.fa.fa-phone.footer-phone {
    color: #aece89;
}
/* BACK TO TOP */
div.back-to-top {
    position: fixed;
    bottom: 60px;
    right: 5px;
    width: 50px;
    height:  50px;
    background-color: #eeaa9c;
    text-align: center;
    border-radius: 50%;
    transition:  0.4s;
    visibility:  hidden;
    opacity: 0;
    z-index:  10;
}
div.back-to-top.show-back-to-top {
    visibility: visible;
    opacity: 1;
}
.back-to-top:hover {
    background-color: rgba(238,156,156,1.00);
}
i.back-to-top {
    color: #ffffff;
    font-size: 30px;
    position:  absolute;
    top: 10px;
    left: 12px;
}
a.back-to-top {position:  relative;
    display: block;
}

a.cart-scrolled {
    display:  block;
    width: 160px;
    position:  fixed;
    bottom: 60px;
    right: 65px;
    height: 50px;
    color: #232a34;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 10;
}
a.cart-scrolled.show-cart-bottom {
    visibility: visible;
    opacity: 1;
}

a.cart-scrolled:hover div.icon-cart-scrolled {
    background-color: rgba(238,156,156,1.00);
    transition: 0.3s;
}
div.cart-scrolled {
    width: 100%;
    /* height:  100%; */
}

div.icon-cart-scrolled {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eeaa9c;
    text-align: center;
    padding: 9px 0 0 0;
}

i.fa.fa-shopping-cart.icon-cart-scrolled {
    color: #ffffff;
    font-size: 30px;
}

div.cart-scrolled-notification {
    float: left;
    width: 100px;
    padding:  5px;
}

.cart-scrolled-notification span {
    display:  block;
    width:  100%;
}

span.notification-number {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

span.notification-title {
    font-size: 14px;
    text-align:  center;
    letter-spacing: 1px;
}

/* preview */

div#products-special, div#products-hot {
    margin-bottom: 60px;
}

div#preview-product {
    position: fixed;
    z-index: 99;
    top: 0;
    left:  0;
    width: 100%;
    background-color: #0000009e;
    /* overflow: scroll; */
    height: 100%;
    visibility: hidden;
    opacity: 0;
}
/* show-preview when click */
div#preview-product.preview-product-show {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}
div.wrap-preview-product{
    width: 100%;
    height: 100%;
    position: relative;
}
div.preview-product {
    z-index: 5;
    max-width: 60%;
    margin: auto;
    background-color: white;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.preview-product:hover i.fa.fa-times-circle-o.preview-product {
    visibility: visible;
}

div.preview-product-title {
    width: 100%;
    /* overflow:  auto; */
    padding: 15px 0 0 30px;
    height: 15%;
}

div.preview-product-name {width: 100%;}

.preview-product-name {
    margin-right: 10px;
}

h2.name-product-preview, span.code-product {
    
text-transform: uppercase;
    
letter-spacing: 2px;
}

span.code-product {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-left:  10px;
}

h2#aside-right-cost {
    margin-bottom:  15px;
    text-align: center;
    font-size: 20px;
}
span.product-sale-cost {
    color: red;
    font-size: 20px;
    margin-right: 15px;
    font-family: 'Athiti', sans-serif;
}
span.product-current-cost {
    font-size: 15px;
    color: #999;
    text-decoration:  line-through;
    font-family: 'Athiti', sans-serif;
    font-weight: 300;
    display: none;
}
span.product-current-cost.promotion-sale{
    display: inline;
}
div#aside-right-des {
    width:  100%;
    margin-bottom:  15px;
    font-size: 20px;
    letter-spacing: 2px;
}
div#aside-right-buy-now {
    width: 45%;
    margin: auto;
}

a.buy-now {
    background-color: #eeaa9c;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    color:  white;
    text-align:  center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a.buy-now:hover {
    background-color: rgba(238,156,156,1.00);
    transition: 0.2s;
}
i.fa.fa-times-circle-o.preview-product {
    position: absolute;
    top: -14px;
    right: -13px;
    color: #eeaa9c;
    z-index: 999999;
    font-size: 27px;
    visibility: hidden;
    cursor: pointer;
    transition: 0.2s;
}

i.fa.fa-times-circle-o.preview-product:hover {
    color: rgba(238,156,156,1.00);
}


h2.name-product-preview {
    color: #232a34;
    margin-right:  10px;
}

h2.name-product-preview,div.preview-product-rating {
    float: left;
}

aside#preview-left,aside#preview-right {
    float: left;
    margin: 0;
    padding: 0;
    height: 80%;
}

aside#preview-right {
    width: 60%;
    padding: 0 15px;
}

aside#preview-right div.aside-right {
    width: 100%;
    height: 100%;
}

aside#preview-left {
    width: 40%;
}

div#aside-img-left {
    width: 100%;
    /* height: 100%; */
    padding: 0 10%;
}

.preview-product-rating {
    font-size: 14px;
    padding: 10px 0 0 0;
    color: #e0d539;
}

div.preview-product.title {
    width: 100%;
}

/* RESPONSIVE */

/* screen<1200px */
@media screen and (max-width:1200px){
    li.list-item{
        font-size: 18px;
    }
    .li-list-level-2{
        font-size: 13px;
    }
    html{
        height: 50%;
    }
   
}
/* screen < 992px */
@media screen and (max-width:992px){
    /* div#nav-up,nav#nav-down{
        padding: 0;
    } */
    
    div#logo a{
        padding-top: 10px;
    }
    span.menu-oder,span.menu-cart{
        display: none;
    }

    li.list-item{
        font-size: 13px;
    }
 
  
}
/* screen <768px */
@media screen and (max-width:768px){
    div#nav-up-wrap{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
    }
    div#nav-down-wrap{
        position: fixed;
        top: 55px;
        left: 0;
        z-index: 20;
    }
    div#nav-down-wrap.testScroll{
        top: 55px;
    }
    div#menu-phone{
        display: none;
    }
    
    div#nav-down-wrap{
        display: none;
        height: auto;
    }
    nav#nav-down{
        position: relative;
        padding: 0px;
        height: auto;
    }
    ul#list-main{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: auto;
    }
    li.list-item{
        float: none;
        padding: 0;
        background-color: #aece89;
        display: block;
        height: auto;
        font-size: 20px;
        letter-spacing :2px;
    }
    .a-level-1 {
        width: 100%;
        display: inline-block;
        height: 100%;
        padding: 15px;
    }
    li.list-item.level-2{
        padding: 15px 0 0 0;
        position: static;
    }
    li.list-item.li-birthday,li.list-item.li-flower,li.list-item.li-topic,li.list-item.li-flower-special,li.list-item.li-wedding,li.list-item.li-require.level-1{
        width: 100%;
        
    }
    ul.menu-level-2{
    position: static;
    margin-top: 15px;
}
    div#home{
        display: none;
    }
    div#menu-search{
        width: 50%;
    }
    div#shortcut-menu{
        display: block;
    }
    div#logo{
        width: 15%;
    }
    div#menu-cart{
        width: 20%;
    }
  
    p.footer-up-content{
        display: none;
        
    }
    div#footer-up{
        padding-bottom: 30px;
    }
    p.footer-up-title{
        font-size: 15px;
    }
    .social-icon{
        margin-top: 15px;
    }
    span.img-product-quick-view{
        padding-top: 6px;
    }
    div#phone_box{
        left: -40px;
        bottom: -40px;
    }
}
/* screen <576px */
@media screen and (max-width:576px){
    html{
        height: 35%;
    }
    div#menu-search{
        padding: 11px 15px 10px 15px;
        width: 70%;
    }
    i.fa.fa-search{
        right: 10%;
    }
    div#menu-cart{
        display: none;
    }
   
    div#footer-up{
        margin-top: 50px;
    }
    a.footer-up-icon{
        width: 80px;
        height: 80px;
        padding-top: 15px;
    }
    a.footer-up-icon i.footer-up-icon{
        font-size: 45px;
    }
    p.footer-up-title{
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    div.back-to-top{
        width: 40px;
        height: 40px;
        bottom: 15px;
    }
    i.back-to-top{
        font-size: 20px;
    }
    a.cart-scrolled{
        right: 5px;
    }
    

}
/* screen <360px */
@media screen and (max-width:360px){
    p.promotion-description-text, p.promotion-2-description-text, p.promotion-3-description-text{
        width: 140px;
    }
    
}



